* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
}

.bg-primary-color {
    background-color: #fff;
  }
  
  .bg-secondary-color {
    background-color: #ece8e2;
  }
  
  .bg-dark-color {
    background-color: #050505;
  }
  
  .primary-color {
    color: #050505;
  }
  
  .secondary-color {
    color: #7a7a7a;
  }
  
  /* NAVBAR */
  #navbar {
    border-bottom: 1px solid #7a7a7a;
  }
  
  #navbar a {
    color: #050505;
  }
  
  #navbar a:hover {
    color: #7a7a7a;
  }
  
  #navbar .active {
    border-bottom: 1px solid #050505;
  }
  
  .navbar-brand {
    display: flex;
  }
  
  .navbar-brand img {
    width: 40px;
  }
  
  .navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
  }
  
  #navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #navbar-items .nav-item {
    margin: 0 1em;
  }
  
  /* SLIDER */
  #slider {
    margin-top: 8em;
    margin-bottom: 1em;
  }
  
  #slider .carousel-caption {
    bottom: 3em;
  }
  
  #slider .carousel-caption h5 {
    font-size: 2.5em;
    text-shadow: #000 2px 2px;
  }
  
  .btn {
    border-radius: 0;
  }
  
  #slider .btn {
    padding: 0.3em 0.8em;
    font-size: 1em;
    margin-top: 1em;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 0.7;
  }
  
  .carousel-control-prev i,
  .carousel-control-next i {
    color: #111;
    font-size: 3em;
  }
  
  .carousel-indicators [data-bs-target] {
    background-color: #222;
    opacity: 0.8;
  }
  
  .carousel-indicators .active {
    background-color: #000;
  }
  
  @media (min-width: 768px) {
    #slider .carousel-caption {
      bottom: 15em;
    }
    #slider .carousel-caption h5 {
      font-size: 4em;
      text-shadow: #000 2px 3px;
    }
    #slider .btn {
      padding: 0.6em 1.6em;
      font-size: 1.2em;
      margin-top: 1em;
    }
    .carousel-indicators {
      bottom: 7em;
    }
  }
  
  /* MINI BANNERS */
  #mini-banners {
    margin-bottom: 4em;
  }
  
  #mini-banners .card {
    padding: 2em 0.3em;
    border-radius: 0;
  }
  
  #mini-banners i {
    font-size: 4em;
  }
  
  #mini-banners .card-title {
    margin-bottom: 1.5em;
  }
  
  #mini-banners .btn {
    margin-top: 1.5em;
    padding: 0.6em 1.2em;
  }
  
  #mini-banners .card {
    margin-bottom: 1em;
  }
  
  @media (min-width: 768px) {
    #mini-banners {
      margin-top: -6em;
    }
  }
  
  /* DESTAQUES */
  #featured-container {
    margin-bottom: 4em;
  }
  
  .title {
    font-size: 1.75em;
    margin-bottom: 0.4em;
    position: relative;
  }
  
  .title:before {
    width: 75px;
    border-top: 4px solid #7a7a7a;
    content: '';
    position: absolute;
    bottom: 2em;
  }
  
  #featured-images {
    margin-top: 2em;
  }
  
  #featured-images .col-md-4 {
    position: relative;
    cursor: pointer;
  }
  
  #featured-images .col-md-4:hover > .banner-content {
    opacity: 0.8;
  }
  
  #featured-images .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
  }
  
  @media (min-width: 768px) {
    .title {
      font-size: 2.4em;
    }
  
    .title:before {
      bottom: 1.5em;
    }
  
    #featured-images .banner-content {
      opacity: 0;
    }
  }

header {
    display: flex;
}

.logo image {
    width:800px 1 solid;
}


ul {
    display: flex;
    flex-direction: row;
    margin-left: 530px;
    margin-top: 50px;

}
ul li {
    list-style: none;
    padding: 15px;
    font-size: 18px;
    gap: 12px;
}

.link-doacao a {
    background-color: rgba(0, 165, 223);
    border-radius: 25px;
    color: white;
    padding: 10px 15px;
}

.link-doacao a:hover {
    background-color:rgb(0, 70, 95);
}

.menu ul li a:hover{
    color: white;
    background-color: rgba(0, 165, 223);
    border-radius: 25px;
    padding: 10px 15px;
} 

a {
    text-decoration: none;
    cursor: pointer;
    
}

div ul li a {
    color: rgba(0, 165, 223);
}

.destaque img {
    width: 100%;
    margin: auto;
}


.sbOng{
    display: flex;
    padding: 10px 50px 50px 50px;

}

.sobre-o{
    color:rgba(0, 165, 223);
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}


hr {
    width: 3rem;
    height: 3px;
    background-color: rgba(0, 165, 223);
    border: none;
    margin: 0 auto;
}

.cardMissao {
    padding: 50px 50px 50px 50px;
    text-align: center;
}


.cardVisao {
    padding: 50px 50px 50px 50px;
    text-align: center;
}

.cardValores{
    padding: 50px 50px 50px 50px;
    text-align: center;
}

.imagensFazemos img {
    width: 120px;
}

.imagensFazemos h1 {
    color:rgba(0, 165, 223);
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.fazemos-top {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 100px;
    flex-wrap: wrap;
    text-shadow: white 0px 0px 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fisio {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(97, 97, 96);
}

.fono {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(97, 97, 96);
}

.psico {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(97, 97, 96);
}

.terapia{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(97, 97, 96);
}

.fazemos-low {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 100px;
    text-shadow: white 0px 0px 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.circo{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(97, 97, 96);
}

.teatro {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(97, 97, 96);
}

.artes{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(97, 97, 96);
}

#instagram {
    justify-content: center;
}

.inst-destaque{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

#instagram h3 {
    text-align: center;
    margin-bottom: 20px;
    
}

#instagram h3 a{
    color:rgba(0, 165, 223);
    font-size: 25px;
    margin-top: 30px;
}

#instagram a:hover{
    color:rgb(0, 126, 172);
}

.btn-siga-insta {
    background-color: rgba(0, 165, 223);
    border-radius: 35px;
    color: white;
    padding: 12px 50px; 
    font-size: 20px;
    margin-left: 43%;
    border: none;
}

.btn-doacao {
    background-color: rgb(241, 200, 18);
    border-radius: 35px;
    color: white;
    padding: 12px 50px; 
    font-size: 20px;
    margin-left: 43%;
    border: none;
    
}
footer {
    
}
.modal-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar {
    display: flex;
}

.modal {
    background: white;
    width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid rgb(97, 97, 96);
    box-shadow: 0 0 0 10px blue;
    position: relative;
}

@keyframes modal{
    from{
opacity: 0;
transform: translate3d(0, -60px, 0);
    }
    to{
opacity: 1;
transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: modal .3s;
}

.fechar {
    position: absolute;
    font-size: 1.2em;
    top: -30px;
    right: -30px;
    width: 50px;
    right: 50px;
    border-radius: 50px;
    border: 4px solid white;
    background: rgb(97, 97, 96);
    color: white;
    font-family: "PT Mono", monospace;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
}