* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
}

.logo img {
    width:250px;
}


ul {
    display: flex;
    flex-direction: row;
    margin-left: 530px;
    margin-top: 50px;

}
ul li {
    list-style: none;
    padding: 15px;
    font-size: 18px;
    gap: 12px;
}

.link-doacao a {
    background-color: rgba(0, 165, 223);
    border-radius: 25px;
    color: white;
    padding: 10px 15px;
}

.link-doacao a:hover {
    background-color:rgb(0, 70, 95);
}

.menu ul li a:hover{
    color: white;
    background-color: rgba(0, 165, 223);
    border-radius: 25px;
    padding: 10px 15px;
} 

a {
    text-decoration: none;
    cursor: pointer;
    
}

div ul li a {
    color: rgba(0, 165, 223);
}

.destaque img {
    width: 100%;
    margin: auto;
}


.btn-doacao {
    position:absolute;
    top: 105%;
    left: 59%;
    width:250px;
    height:70px;
    padding:10px;
    margin:-15px 0 0 -30px;
    border:0 none;
    background-color: rgb(241, 200, 18);
    border-radius: 35px;
    color: white;
    font-size: 20px;
}

.sbOng{
    display: flex;
    padding: 10px 50px 50px 50px;

}

.sobre-o{
    color:rgba(0, 165, 223);
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}


hr {
    width: 3rem;
    height: 3px;
    background-color: rgba(0, 165, 223);
    border: none;
    margin: 0 auto;
}

.cardMissao {
    padding: 50px 50px 50px 50px;
    text-align: center;
}


.cardVisao {
    padding: 50px 50px 50px 50px;
    text-align: center;
}

.cardValores{
    padding: 50px 50px 50px 50px;
    text-align: center;
}

.imagensFazemos img {
    width: 120px;
}

.imagensFazemos h1 {
    color:rgba(0, 165, 223);
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.fazemos-top {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 100px;
    flex-wrap: wrap;
    text-shadow: white 0px 0px 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fisio {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(97, 97, 96);
}

.fono {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(97, 97, 96);
}

.psico {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(97, 97, 96);
}

.terapia{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(97, 97, 96);
}

.fazemos-low {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 100px;
    text-shadow: white 0px 0px 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.circo{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(97, 97, 96);
}

.teatro {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(97, 97, 96);
}

.artes{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(97, 97, 96);
}

.instagram {
    justify-content: center;
}

.inst-destaque img{
    width: 250px;
    margin-top: 20px;
}

.instagram a:hover {
    opacity: 0.5;
    transform: scale(1.2);
}

.inst-destaque{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.instagram h3 {
    text-align: center;
    margin-bottom: 20px;
    
}

.instagram h3 a{
    color:rgba(0, 165, 223);
    font-size: 25px;
    margin-top: 30px;
}

.btn-siga-insta {
    background-color: rgba(0, 165, 223);
    border-radius: 35px;
    color: white;
    padding: 12px 50px; 
    font-size: 20px;
    margin-left: 43%;
    margin-bottom: 40px;
    border: none;
}



.instagram button:hover {
    color:rgba(0, 165, 223);
    background-color: rgb(241, 200, 18);
}

.imagem-doe img {
    width: 100%;
    margin: auto;
}

.btn-doacao-fundo {
    top: 15%;
    left: 100%;
    width:250px;
    height:70px;
    padding:10px;
    margin:-15px 0 0 -30px;
    border:0 none;
    background-color: rgb(241, 200, 18);
    border-radius: 35px;
    color: white;
    font-size: 20px;
}

footer {
    background-color: beige;    
    width: 100%;
    padding: 20px;
}

.dados-contato {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.copy {
    text-align: center;
}

.back-to-top{
    text-align: right;
    font-size: 50px;
}
